@import 'bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#neubar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}

.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
    -4px -4px 8px #f7e5cc;
}
#neubar .dropdown-menu a:hover {
    color: #454545
}
#neubar .nav-item {
    margin : auto 4px;
}
#neubar a {

    padding-left:12px;
    padding-right:12px;
}
#neubar .dropdown-menu {
    background : #545454
}
a.navbar-brand {
    color: #454545
}
.events-container {
    border: 1px;
    border-color: #644812;
    border-radius: 10px; /* Радиус скругления углов, при желании */
    padding: 15px; /* Отступ внутри контейнера */
    background-color: #f9f9f9;
}
.event-item {
    border-bottom: 1px solid #4B3D3B;
}
.custom-form {
    border: 2px solid #8a5733; /* 2 пикселя, цвет рамки */
    background-color: #f4c89b; /* бежевый цвет */
    border-radius: 8px; /* скругленные углы */
    padding: 20px;
    box-shadow: 0 4px 8px rgb(58, 26, 1);
    max-width: 600px; /* максимальная ширина формы */
    margin: 20px auto; /* центрирование формы */
    overflow-y: auto; /* добавление вертикального скролла */
    max-height: 80vh; /* максимальная высота формы */
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #7e5834; /* более насыщенный бежевый цвет для кнопки */
    border: none;
}
/* Стили для скролл-бара в форме */
.custom-form::-webkit-scrollbar {
    width: 10px; /* Ширина скролл-бара */
}

.custom-form::-webkit-scrollbar-track {
    background: #f0f0f0; /* Цвет фона трека скролл-бара */
    border-radius: 8px; /* Закругленные углы трека */
}

.custom-form::-webkit-scrollbar-thumb {
    background: #644812; /* Цвет ползунка */
    border-radius: 8px; /* Закругленные углы ползунка */
}
.button-my-button {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: #f5d7b2;
    border-color: black;
    padding: 5px 10px;
    margin: 1px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    flex: 0 0 auto;
}
.button-my-button-orange {
    text-decoration: none;
    width: 80px;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 1px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    flex: 0 0 auto;

    background-color: #FFA500; /* Оранжевый цвет */
    border-color: #FFA500;
    color: white; /* Белый текст */
}
.button-my-button-red {
    text-decoration: none;

    width: 80px;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 1px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    flex: 0 0 auto;
    background-color: #FF0000; /* Красный цвет */
    border-color: #FF0000;
    color: white; /* Белый текст */
}
.button-my-button-brown {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color:#faa92f;
    border-color: black;
    padding: 5px 10px;
    margin: 1px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    flex: 0 0 auto;
}
